body {
    background-color: #D0F5BE;
}

hr {
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 10% ;
}
.Me{
    max-width: 100%;
    max-height: 100% ;
    border-radius: 50%;
}
.image{
    border-radius: 50%;
}
.image:hover{
    background-color: #D0F5BE;
}
.circle{
    background: yellow;
    height: 200px;
    width: 200px;
}
h1 {
    color: #66BFBF
}

h3{
    color: #66BFBF
}