body {
    background-color: #B0DAFF;
    font-family:  'Merriweather', serif;
}

hr {
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 10% ;
}
.Me{
    max-width: 100%;
    max-height: 100% ;
    border-radius: 50%;
}
.image{
    border-radius: 50%;
    background: #FEFF86;
    height: 200px;
    width: 200px;
}
h1 {
    color: #146C94;
    font-family: 'Sacramento', cursive ;
    font-size: 40px;
}
td,ul{
    color: #146C94;
    font-family: 'Montserrat', sans-serif ;
}
th{
    color: #146C94;
    font-family: 'Montserrat', sans-serif ;
    
}
h3{
    color: #146C94;
    font-family: 'Sacramento';
    font-weight: bold;
    font-size: 30px;
}